header {
    background-color: $primary-color;
    color: $background-color;
    text-align: center;
}

header a {
    color: $background-color;
    text-decoration: none;
}

header h2,
header li a {
    color: white !important;
}

header li a:hover {
    color: pink !important;
}