// Fichier de variables de couleur SCSS

// Purple
$primary-color: #800080;

// Purple + Black 25%
$dark-color: #5c0a5c;

// Purple + white 25%
$light-color: #901090;

// White Ghost,
$background-color: #F8F8FF;

