{% extends 'base.html.twig' %}

{% block title %}NutritionalValue{% endblock %}

{% block body %}
    <h1>NutritionalValue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nutritional_value.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nutritional_value_index') }}">back to list</a>

    <a href="{{ path('app_nutritional_value_edit', {'id': nutritional_value.id}) }}">edit</a>

    {{ include('nutritional_value/_delete_form.html.twig') }}
{% endblock %}
