{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/moustache/Documents/pro/les_recettes_de_cecilia/src/Controller/LoginController.php</code></li>
        <li>Your template at <code>/home/moustache/Documents/pro/les_recettes_de_cecilia/templates/login/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
